
  /* google font links */
  @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gemunu Libre', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  background: #181937;
}
.mainContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.displayNone{
  display: none;
}
.gameSettings{
  color: aliceblue;
  display: grid;
  grid-template: 1fr;
  justify-items: center;
  text-align: center;
}
.buttons{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 10px;
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}
.btnStyle{
  font-size: large;
  font-weight: 600;
  height: 25px;
  margin: 3px;
 
}
.startBtn{
  font-size: large;
  font-weight: 600;
  background-color: #01fe87;
}
.restart{
  background-color: #01fe87;
}
.instruction{
  padding-top: 5px;
}
.random{
  background-color:  #01fe87;
}
.cradsHeading{
  color: #fff;
  text-align: center;
}
.cradsParagraph{
  color: #fff;
  padding: 10px;
  text-align: center;
}
.cradsFooter{
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.name{
  color:#01fe87;
}
.project{
  color:#01fe87;
}

.memory-game {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #7d79c8;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}


.score{
  font-size: larger;
  padding-top: 5px;
}
.timer{
  font-size: larger;
  padding-top: 5px;
}
.HeadingParagraph{
  padding-top: 5px;
}
.iconLinks{
  padding-left: 44%;
}
.githubIcon{
  padding-top: 10px;
  padding-right: 5px;
  color: #fff;
  font-size: 20px;
}
.linkedin{
  padding-right: 5px;
  color: #fff;
  font-size: 20px;
}
.instagram{
  color: #fff;
  font-size: 20px;
}


@media (max-width:800px) {
  body{
    display: grid;
  }
  .mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .gameSettings{
    padding: 10px;
    width: 100%;
    color: aliceblue;
    display: grid;
    grid-template: 1fr;
    justify-items: center;
    text-align: center;
  }
  .memory-game {
    max-width: 450px;
    max-height: 450px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
}
@media (max-width:470px) {
  body{
    display: grid;
  }
  .mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .gameSettings{
    
    color: aliceblue;
    display: grid;
    grid-template: 1fr;
    justify-items: center;
    text-align: center;
  }
  .memory-game {
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
}